:root {
    --font-size-base: 16px;
    --Body-primary-Background: #FFF;
    --Body-secondary-Background: #2A2A2D;

    --nav-Background: #FFFFFF;
    --nav-def: #000000;
    --nav-btn-hover: #00BB29;
    --nav-btn-focus: #00BB29;
    --nav-btn-active: #007D1B;
    --nav-btn-dis: #A9E8B7;

    --Text-Header-primary: #00BB29;
    --Text-Header-secondary: #000000;
    --Text-Body-primary: #FFFFFF;
    --Text-Body-secondary: #000000;
    --Text-Body-tertiary: #2900BD;


    --Text-Headline-primary: #00BB29;
    --Text-Headline-secondary: #009C22;

    --icons-color-primary: #000000;
    --icons-color-secondary: #00BB29;
    --icons-color-tertiar: #FFFFFF;

    --btn-primary-def: #00BB29;
    --btn-primary-hover: #009C22;
    --btn-primary-focus: #009C22;
    --btn-primary-active: #007D1B;
    --btn-primary-dis: #A9E8B7;
    --btn-primary-text: #000000;
    --btn-primary-text-dis: #00BB29;

    --btn-sec-out-def: #00BB29;
    --btn-sec-out-hov: #009C22;
    --btn-sec-out-foc: #009C22;
    --btn-sec-out-act: #007D1B;
    --btn-sec-out-dis: #A9E8B7;
    --btn-sec-text: #00BB29;



    --Link-header-def: #000000;
    --Link-footer-def: #DEDEDF;
    --Link-def: #00BB29;
    --Link-hover: #007D1B;
    --Link-focus: #007D1B;
    --Link-active: #003F0E;
    --Link-dis: #7FDD94;
    --Link-footer-dis: #7F7F82;

    --Checkboxes-def: #000000;
    --Checkboxes-hover: #00BB29;
    --Checkboxes-focus: #00BB29;
    --Checkboxes-aciv: #009C22;
    --Checkboxes-dis: #000000;

    --text-field-def: #000000;
    --text-field-hover: #00BB29;
    --text-field-error: #BB2901;
    --text-field-dis: #7F7F82;




    /* 
    --home-hero-background: url(assets/img/backgournd-home-hero.jpg) lightgray 50% / cover no-repeat;
    --home-about-us-background: url(assets/img/backgournd-home-about-us.jpg) lightgray 50% / cover no-repeat; */


    --Text-footer: #DEDEDF;
    --Body-Footer-Background: #2A2A2D;

    --spacing-025-rem: 4px;
    --spacing-05-rem: 8px;
    --spacing-075-rem: 12px;
    --spacing-1-rem: 16px;
    --spacing-125-rem: 20px;
    --spacing-15-rem: 24px;
    --spacing-2-rem: 32px;
    --spacing-25-rem: 40px;
    --spacing-3-rem: 48px;
    --spacing-4-rem: 64px;
    --spacing-5-rem: 80px;
    --spacing-6-rem: 96px;
    --spacing-8-rem: 128px;
    --spacing-10-rem: 160px;
    --spacing-12-rem: 192px;
    --spacing-14-rem: 224px;
    --spacing-16-rem: 256px;
    --spacing-18-rem: 288px;
    --spacing-20-rem: 320px;
    --spacing-24-rem: 384px;

    --width-025-rem: 4px;
    --width-05-rem: 8px;
    --width-075-rem: 12px;
    --width-1rem: 16px;
    --width-125-rem: 20px;
    --width-15-rem: 24px;
    --width-2-rem: 32px;
    --width-25-rem: 40px;
    --width-3-rem: 48px;
    --width-4-rem: 64px;
    --width-5-rem: 80px;
    --width-6-rem: 96px;
    --width-8-rem: 128px;
    --width-10-rem: 160px;
    --width-12-rem: 192px;
    --width-14-rem: 224px;
    --width-16-rem: 256px;
    --width-18-rem: 288px;
    --width-20-rem: 320px;

    --height-025-rem: 4px;
    --height-05-rem: 8px;
    --height-075-rem: 12px;
    --height-1rem: 16px;
    --height-125-rem: 20px;
    --height-15-rem: 24px;
    --height-2-rem: 32px;
    --height-25-rem: 40px;
    --height-3-rem: 48px;
    --height-4-rem: 64px;
    --height-5-rem: 80px;
    --height-6-rem: 96px;
    --height-8-rem: 128px;
    --height-10-rem: 160px;
    --height-12-rem: 192px;
    --height-14-rem: 224px;
    --height-16-rem: 256px;
    --height-18-rem: 288px;
    --height-20-rem: 320px;
}